@media (max-width: 387px)
{
    header
    {
        padding: 1rem 2rem;
        width: calc(100% - 4rem);
    }

    header .header-icons-container
    {
        display: none;
    }

    header .logo img
    {
        margin: 0;
    }

    header .hamenu
    {
        margin: 0 !important;
    }

    main
    {
        padding: 1rem;
    }
}