@media (max-width: 387px)
{
    header
    {
        padding: 1rem 2rem;
        width: calc(100% - 4rem);
    }

    header .header-icons-container
    {
        display: none;
    }

    header .logo img
    {
        margin: 0;
    }

    header .hamenu
    {
        margin: 0 !important;
    }

    main
    {
        padding: 1rem;
    }
}

@media (min-width: 388px) and (max-width: 963px)
{
    main .intro
    {
        position: relative;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    main .intro .presentation,
    main .intro .logotype
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4rem;
    }

    main .intro .logotype
    {
        padding: 0;
        left: 0;
    }

    main .intro .presentation
    {
        max-width: none;
        width: calc(100% - 8rem);
    }

    main .intro .logotype img
    {
        width: 68%;
        max-width: none;
        -webkit-mask-image:-webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        animation: none;
        filter: brightness(25%);
    }

    main .intro div:nth-child(1)
    {
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 564px)
{
    header .navbar
    {
        display: none;
    }

    header .hamenu
    {
        display: block;
        margin-right: 2rem;
    }

    header .hamenu span
    {
        display: flex;
        width: 3rem;
        height: 3rem;
        background-image: url("../assets/icons/ham_icon.svg");
        background-position: center;
        background-size: cover;
    }

    header .hamenu span:hover
    {
        cursor: pointer;
    }
}

@media (max-width: 589px)
{
    main .intro p:nth-child(1),
    main .intro p:nth-child(4)
    {
        font-size: 1.8rem;
    }

    main .intro p:nth-child(2)
    {
        font-size: 4.2rem;
    }

    main .intro p:nth-child(3)
    {
        font-size: 2.6rem;
    }
}

@media (max-width: 770px)
{
    main
    {
        padding: 0;
    }

    main .intro
    {
        position: static;
        padding: 0 2rem;
        max-width: 80vw;
        margin: 0 auto;
    }

    main .intro .presentation
    {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
    }

    main .intro .logotype
    {
        display: none;
    }
}

@media (min-width: 964px) and (max-width: 1108px)
{
    main .intro .presentation
    {
        order: 1;
    }

    main .intro .logotype
    {
        order: 2;
        padding-left: 6rem;
        padding-right: 0;
    }

    main .intro .logotype img
    {
        min-width: none;
        width: 100%;
    }

    main .intro
    {
        grid-template-columns: 1fr 40%;
    }
}

@media (max-width: 1200px)
{
    main .intro p:nth-child(4)
    {
        width: auto;
    }
}